
// $font-family: 'Raleway', sans-serif;
    $search-font-color: #4B505B; /* For Search bar */
    $font-color: #4B505B;
    $button-bg: #00AAFF;   /* Applies to search input Border as well*/
    $card-bg: #E9E9E9;
    $header-bg: #1896BD;
    $footer-bg: #323638;
    $gray-areas: #EAEAEA;
    $section-line: #CCC9C9; 