@import "variables";

:root {
    font-size: 16px;
}

/* 		css reset 		*/

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*=============================================*/
/*		border box and css reset 		*/
/*=============================================*/

*, *:before, *:after {
    box-sizing: border-box;
}

/*====clearfix====*/

.cf {
    clear: both;
    *zoom: 1;

    &:before, &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

/*=============================================*/
/*    basic css    */
/*=============================================*/

/*=============================================*/
/*    Company Page    */
/*=============================================*/

//everywhere color is for refrence
body {
    background: #f5f5f5;
}
// .svg{
//     background-image: url("../media/triangles.svg");
//     background-repeat: no-repeat;
//     filter: hue-rotate(110deg);
//     background-position: right;
//     height: 100%;
//     width: 100%;
//     position: absolute;
//     z-index: 0;
// }

.hero-comp {
    font-family: $font-family;
    background-color: white; //will change with theme
    // position: relative; //for placement of line and logo can find better alternative
    // height: 100vh;
    padding: 20px 0;
    top: 50px; //will change after header done
    width: 100%; //width of wrapper
    // background-image: url("../media/triangles.svg");

    // background-repeat: no-repeat;
    // filter: hue-rotate(110deg);
    // background-position: right;


    // border: 1px solid black; //not required just for refrence
    .line-design {
        height: 4px;
        width: 100%;
        background: linear-gradient(to right, #026ca3, #03667d, #00b4b2, #01a94f 80%); //for refrence
        position: absolute;
        filter: hue-rotate(110deg);
        top: 80%;
    }

    .back-design{
        height: 200px;
        width: 100%;

        background: url("https://media.glassdoor.com/sqll/300494/flipkart-com-squarelogo-1433217726546.png");
        background-size: cover;
        background-position: center;
        filter: blur(15px);
        opacity: 0.5;
    }


}

.hero-logo {
    position: relative;
    width: 100%;
    top: 70px;
    // height: 40vh;
    height: 260px;
    margin-bottom: 60px;

    // background: red;

    .location-site-link{
        position: absolute;
        top:105%;
        left:8%;

        .location{
            padding:10px 0;
            
            i {
                color: #444;
                margin-right:5px;
            }   

        }

        .website-link a:hover{
            text-decoration: underline;
        }

    }
}

.logo-name {
    display: flex;
    
    // justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 24%;
    left: 5%;
    
    .hero-comp__logo-container {
        width: 200px;
        height: 200px;
        border-radius: 7px;
        border: 2px solid $section-line;
        display: grid;
        place-items: center;
        overflow: hidden;
        
        img {
            // filter: hue-rotate(-120deg);
            // filter: hue-rotate(240deg);
            // filter:  !important;
            width: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }

    .hero-comp__name {
        color: #26282b;
        margin-left: 30px;
        padding-top: 10px;
        font-weight: 800;
        font-size: 2.6rem;
        // text-shadow: -1px 1px 0px #444;
    }
}

.hero-details {
    // border-top: 1px solid $section-line;
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: 3fr 7fr;

    .details-card {
        // background: green;
        font-weight: 600;
        font-size: 1.3rem;
        width: 100%;

        /* border-radius: 5px; */
        text-align: left;
        margin: 0;
        color: #4B505B;

        /* background: #E9E9E9; */
        padding: 15px 20px;

        .company-details-container {
            font-size: 1rem;
            display: grid;
            grid-template-columns: 2fr 3fr;
            grid-gap: 15px;

            .details-key {
                font-weight: bold;
            }
        }
    }

    .about {
        border-left: 1px solid $section-line;
        padding: 15px 20px;
        z-index: 3;

        // background: orange;

        h2 {
            text-align: left;
            font-weight: bold;
            padding-bottom: 10px;
            color: #4B505B;
            text-transform: capitalize;
        }

        p {
            line-height: 1.5;
        }

        .about__content {
            text-align: left;
        }
    }
}

.hero-details2{
    display:grid;
    grid-template-columns: repeat(3,minmax(200px, 1fr));
    margin:0  20px 0 300px; 
    grid-gap:20px; 

    .overview-card{
        grid-row: 1 / span 2;

         .overview-text{
            font-size: 16px !important;
            text-align:left;
            line-height: 1.4;
            color:#000 !important;
        }

    }

    .hero-card{
        border: 1px solid #ccc;
        border-radius:5px;
        // width:300px;        
        grid-template-columns:1fr;
        padding:20px 10px;
        // margin:0 15px;
        align-items:center;
        box-shadow: -10px 6px 8px 0px rgba(0,0,0,0.1);

        .hero-card-header{
            font-size: 20px;
            border-bottom:1px solid #ddd;
            padding-bottom:8px;
            color:#222;
            font-weight: 600;
        }


        .hero-card-text{
            font-size:30px;
            padding:20px;
            color:#555;
            font-weight: 200;
        }

    }

}